*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.center{
    margin: 0 auto;
    padding: 0 2rem;
}

.t-center{
    text-align: center;
}

.blue-text{
    color: #0084fd;
}

body{
    min-width: 360px;
    font-family: 'PT Sans', sans-serif;
}

div.header{
    width: 100%;
    height: 90px;
    background-color: #0084fd;
}

.logo,
.navbar{
    width: 50%;
    height: 100%;
    align-items: center;
    padding: 0 2rem 0 2rem;

}

.navbar{
    justify-content: flex-end;
    color: white;
}

.navbar>ul{
    display: none;
    list-style: none;
}

.navbar ul>li{
    margin-left: 1rem;
}

div.card{
    width: 100%;
    background-color: #b5ddff;
    border-radius: 20px;
    margin-top: 1.5rem;
}

h2{
    padding: 2rem 0 2rem 0;

}

div.pic{
    width: 100%;
    height: 300px;
    background-color: teal;
}

div.pic>img{
    width: 100%;
}

div.icon{
    width: 150px;
    height: 150px;
    background-color: teal;
}

section.big-pics{
    margin-top: 5rem;
    background-color: #9792e4;
    text-align: center;
}

.plan{
    width: 100%;
    height: 300px;

}

div.app{
    width: 100%;
    background-color: whitesmoke;
    height: 300px;
}

section.testimonials{
    text-align: center;
    padding-top: 2rem;
}

div.users{
    background-color: #9792e4;
    margin-top: 2rem;
}

section.benefits{
    margin-top: 3rem;
    background-color: #9792e4;
}

section>h2{
    text-align: center;
}

div.numb-card{
    background-color: whitesmoke;
    border-radius: 20px;
    margin-top: 1.5rem;
    padding: 1rem;
}

div.about-content>div{
    margin-top: 2rem;
}

div.about-left{
    padding-right: 5rem;
}

section.free{
    text-align: center;
    background-color: #9792e4;
    margin-top: 2rem;
    padding-bottom: 2rem;
}

.free>*{
    margin-top: 1.5rem;
}

.piedone{
    background-color: #333333;
    text-align: center;
    padding-top: .5rem;
    color: white;
}

.piedone>p{
    margin-top: 1.5rem;
}












/* RESPONSIVE */

/* TABLET */

@media screen and (min-width: 810px) {
    body{
        width: 100%;
    }

    .cards{
        display: flex;
        flex-wrap: wrap;
    }

    .cards .card{
        width: calc(100% / 3 - 1rem);
    }

    .cards .card:first-child{
        width: calc(100% / 3 * 2 - 1rem);
    }

    div.users{
        display: flex;
        flex-wrap: wrap;
    }
    /* TEST IMG RIMUOVERE */
    div.users>img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
    }
    div.users>p{
        width: 70%;
    }
    /* DA RIMOUVERE SOLO PER STRUTTURA */
    .hidden{
        display: none;
    }

    div.numb-cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    div.numb-card{
        width: calc(100% / 2 - .5rem);
    }

    div.about-content{
        display: flex;  
    }

    .about-left{
        width: 60%;
        padding-left: 2rem;
    }

    .about-right{
        width: 30%;
}

    .about-right>img{
        width: 200px;
        height: 200px;
        border: 1px solid black;
    }
}

/* DESKTOP */

@media screen and (min-width: 900px){
    body{
        width: 100%;
    }

    div.header{
        height: 45px;
    }

    div.header,
    section.demo,
    section.big-pics,
    section.testimonials,
    section.benefits,
    section.about,
    section.free{
        padding: 0 15rem 0 15rem;
    }

    .navbar>i{
        display: none;
    }

    .navbar>ul{
        display: flex;
    }

    div.big{
        display: flex;
    }

    div.numb-card{
        width: calc(100% / 3 - .5rem);
    }




    
}

