*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.center{
    margin: 0 auto;
    padding: 0 2rem;
}

.t-center{
    text-align: center;
}

.blue-text{
    color: #0084fd;
}

body{
    min-width: 360px;
    font-family: 'PT Sans', sans-serif;
}

div.header{
    width: 100%;
    height: 90px;
    background-color: #0084fd;
    justify-content: space-between;
    color: #ffffff;
}

.logo,
.navbar{
    align-items: center;
    padding: 0 2rem 0 2rem;
}

.navbar>ul{
    display: none;
    list-style: none;
}

.navbar ul>li{
    margin-left: 1rem;
    font-size: .9rem;
}

.navbar>button{
    display: none;
    border: none;
    padding: .3rem .5rem;
    border-radius: 20px;
    font-size: .8rem;
}

section.demo{
    margin-bottom: 4rem;
}

div.card{
    width: 100%;
    background-color: #b5ddff;
    border-radius: 20px;
    margin-top: 1.5rem;
}

div.small.card{
    padding: 2rem 3rem;
}

div.card>i{
    font-size: 6rem;
    color: #0084fd;
}

div.card>p{
    color: #5a6e7f;
    font-weight: bold;
}

h2{
    padding: 2rem 0 2rem 0;
    font-size: 1.6rem;
}

article.text>button{
    border: none;
    padding: .8rem 3rem;
    margin: 2rem 0;
    background-color: #0084fd;
    color: white;
    border-radius: 25px;
    font-size: 1rem;
    letter-spacing: 4px;
}

article.text>p{
    line-height: 1.5rem;
    color: #5a6e7f;
    font-weight: bold;
}

figure.pic>img{
    width: 100%;
    vertical-align: bottom;
}

div.icon{
    width: 150px;
    height: 150px;
    background-color: teal;
}

section.big-pics{
    background-color: #9792e4;
    line-height: 2rem;
    padding: 2rem 0 3rem;
}

div.plan{
    margin: 0 auto;
    width: 300px;
    color: #ffffff;
    padding: 2rem 0 2rem;
}

.plan>img{
    width: 100%;
}

.plan>h1{
    margin: 3rem 0;
    font-size: 2.3rem;
}

div.app{
    margin: 0 auto;
    text-align: center;
    width: 300px;
    background-color: whitesmoke;
    border-radius: 20px;
    padding-bottom: 2rem;
}

.app>img{
    width: 100%;
}

div.arrow{
    margin: 2rem auto 0;
    width: 3rem;
    height: 3rem;
    background-color: #9792e4;
    border-radius: 50%;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
}

section.testimonials{
    text-align: center;
    padding: 2rem;
    margin-bottom: 7rem;
    line-height: 2rem;
}

.testimonials h2{
    text-transform: uppercase;
}

.testimonials h1{
    color: #9792e4;
    font-size: 2.8rem;
    margin-bottom: 2rem;
}

div.users{
    background-color: #9792e4;
    margin-top: 2rem;
    padding: 2.5rem 1rem 1.5rem;
    border-radius: 20px;
    color:#ffffff;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.users figure>img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1.5rem;
}

section.benefits{
    padding: 4rem 0;
    background-color: #9792e4;
}

.benefits>h1{
    padding: 0 2rem;
    text-align: center;
    font-size: 2.5rem;
    color: white
}

section>h2{
    text-align: center;
}

div.numb-card{
    background-color: whitesmoke;
    border-radius: 20px;
    margin-top: 1.5rem;
    padding: 1rem;
}

.numb-card h1{
    color: #9792e4;
}

.numb-card>h1{
    font-size: 3.5rem;
}

.numb-card>p{
    line-height: 2rem;
    color: #5a6e7f;
}

.numb-card>button{
    margin: 2rem 0;
    border: none;
    border-radius: 20px;
    padding: .5rem 3rem;
    background-color: #9792e4;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
}

div.about-content>div{
    margin-top: 2rem;
}

.about-left>h1{
    color: #9792e4;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.about-left>p{
    margin-bottom: 3rem;
    font-size: 1.2rem;
    line-height: 2.5rem;
}

.about-right>img{
    width: 190px;
    height: 190px;
    border-radius: 50%;
}

.about-right>h2{
    color: #9792e4;
}

.about-right>button{
    font-size: 1rem;
    border: none;
    border-radius: 20px;
    padding: .5rem 1.2rem;
    background-color: #9792e4;
    color: #ffffff;
}

div.about-left{
    padding-right: 5rem;
}

section.free{
    text-align: center;
    background-color: #9792e4;
    margin-top: 2rem;
    padding: 3rem 2rem;
}

.free>*{
    font-size: 1.2rem;
    margin-top: 1.5rem;
    color: #ffffff;
}

.free>p{
    color: #c8c6f1;
}

.free>h2{
    font-size: 2rem;
    font-weight: bold;
}

.free>h1{
    color: #fdc15f;
    font-size: 4rem;
}

.free>button{
    font-weight: bold;
    color: #9792e4;
    border-radius: 30px;
    border: none;
    background-color: white;
    font-size: 1rem;
    padding: 1rem 3rem;
}

.info>span{
    font-size: 1rem;
}

span>a{
    color: #ffffff;
}

.footer{
    background-color: #333333;
    text-align: center;
    padding: 2rem;
    color: white;
    font-size: 1.2rem;
}

.footer a{
    color: #9792e4;
}

.footer>p{
    margin-top: 1.5rem;
}












/* RESPONSIVE */

/* TABLET */

@media screen and (min-width: 810px) {
    body{
        width: 100%;
    }


    .cards{
        display: flex;
        flex-wrap: wrap;
    }

    .cards .card{
        width: calc(100% / 3 - 1rem);
    }

    .cards .card:first-child{
        width: calc(100% / 3 * 2 - 1rem);
    }

    div.users{
        display: flex;
        align-items: center;
    }

    .users>figure{
        flex-basis: content;
        margin-right: 1.5rem;
    }

    div.users>p{
        width: 70%;
    }

    div.numb-cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    div.numb-card{
        width: calc(100% / 2 - .5rem);
    }

    div.about-content{
        display: flex;  
    }

    .about-left{
        width: 60%;
        padding-left: 2rem;
    }

    .about-right{
        width: 30%;
}

    .about-right>img{
        width: 200px;
        height: 200px;
        border: 1px solid black;
    }
}

/* DESKTOP */

@media screen and (min-width: 900px){
    body{
        width: 100%;
    }

    div.header{
        height: 45px;
        padding: 0 9rem 0 9rem;
    }

    div.logo>img{
        height: 50%;
    }

    section.demo,
    section.big-pics,
    section.testimonials,
    section.benefits,
    section.about,
    section.free{
        padding: 0 10rem 0 10rem;
    }

    figure.pic{
        display: flex;
        align-items: flex-end;
    }

    .navbar>i{
        display: none;
    }

    .navbar>ul,
    .navbar>button{
        display: flex;
    }

    div.big{
        display: flex;
    }

    section.big-pics{
        display: flex;
    }


    
    section.benefits{
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    div.numb-card{
        width: calc(100% / 3 - 1rem);
    }

    section.free{
        padding-top: 3rem;
        padding-bottom: 4rem;
    }




    
}

